{% extends "layout.html" %}

{% block styles %}

    * {
        box-sizing: border-box;
    }

    /* Add padding to containers */
    .container {
        padding: 16px;
        background-color: white;
        border-radius: 10px;
        width: 60%;
        margin: auto;
    }

    h1 {
        color: white;
    }

    .logout {
        position: relative;
        left: 90%;
    }

    .search {
        position: fixed;
        top: 3%;
        right: 1%;
        padding: 16px;
        background-color: white;
        border-radius: 10px;
        width: 18%;
        margin: auto;
        float: left;
    }

    /* Full-width input fields */
    input {
        padding: 5px;
        margin: 5px;
        border: none;
        background: #f1f1f1;
    }

    /* Set a style for the submit button */
    .btn {
        margin: 5px;
        cursor: pointer;
        opacity: 0.8;
    }

    .btn:hover {
        opacity: 1;
    }

    .card {
        width: 100%;
        box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
        padding: 16px;
        margin: 0 0 20px 0;
        text-align: center;
        background-color: #ccc;
        border-radius: 5px;
    }

{% endblock %}

{% block heading %}{% endblock %}

{% block body %}
    <div class="container">
        <a class = "logout" href = "{{ url_for('logout') }}">Log Out</a>
        <h2>Search Results</h2>
        {% if not empty %}
            {% for book in books %}
            <form action="{{ url_for('bookpage') }}" method="POST">
                <button style="cursor:pointer;" class="card" type="submit" name="isbn" value={{book[1]}}>
                    <h2>{{ book[0] }}</h2>
                    <p>Written By</p>
                    <h3>{{ book[2] }}</h3>
                </button>
            </form>
            {% endfor %}
        {% else %}
            <h3>No books match the request.</h3>
        {% endif %}
    </div>
    <div class="search">
        <h2>Search</h2>
        <form action = "{{ url_for('userhome') }}" method = "POST">
            <input type="text" placeholder="Search.." name="str" style="width:80%" required>
            <label for="title" style="white-space:nowrap"> <input type="radio" name="sel" value="title" checked> Title</label>
            <label for="author" style="white-space:nowrap"> <input type="radio" name="sel" value="author"> Author</label>
            <label for="isbn" style="white-space:nowrap"> <input type="radio" name="sel" value="isbn"> ISBN</label>
            <input name="but" type="submit" class="btn">
        </form>
    </div>
{% endblock %}
